%% -*- mode: Erlang; -*-

{require_otp_vsn, "R15|R16"}.

{sub_dirs, [ "rel"]}.
% 
% 
 {erl_opts, [
    {parse_transform, lager_transform},
%      no_debug_info,
     {i, "include"},
      warn_unused_vars
 ]}.
     %warnings_as_errors,

{deps, [
   { lager, "2.0.0",    {git, "https://git.ceb.loc/erlang/lager.git",       {tag, "2.0.0"}}},
   { jsx, ".*", {git, "https://git.ceb.loc/erlang/jsx.git", {branch, "master"}}},
   { ranch , "0.8.4"    ,{git,"https://git.ceb.loc/erlang/ranch.git","0.8.4"} },
   { goldrush,".*", {git,"https://git.ceb.loc/erlang/goldrush.git",
					                           {tag,"879c69874a"}}},
  { cowboy, "0.8.6", {git, "https://git.ceb.loc/erlang/cowboy.git",  "0.8.6"}},
  { erlydtl, ".*",  {git, "https://git.ceb.loc/erlang/erlydtl.git",{branch,"stable"} } },
 { prolog_open_api, ".*", {git, "git@git.ceb.loc:adaptive-brains/prolog-open-api.git", {branch, "release_x"}}},
 { eprolog, ".*", {git, "git@git.ceb.loc:adaptive-brains/hprolog.git", {branch, "release_x"}}},
    { thrift, ".*",  {git, "git@git.ceb.loc:adaptive-brains/gen_erlthrfit_0-9-4.git",{branch,"master" } } }



%     { merl, ".*",  {git,"https://github.com/erlydtl/merl.git",{branch,"erlydtl"}} }
     

]}.

{cover_enabled, true}.

{clean_files, ["deps/*/ebin", "*.eunit", "ebin"]}.
{app_bin, ["ebin"]}.
{eunit_opts, [
                verbose,
                {report, {eunit_surefire, [{dir, "."}]}}
            ]
}.
