%% -*- mode: Erlang; -*-

{require_otp_vsn, "R14|R15"}.

{sub_dirs, [ "rel"]}.
% 
% 
 {erl_opts, [
    {parse_transform, lager_transform},
%      no_debug_info,
     {i, "include"},
      warn_unused_vars
 ]}.
     %warnings_as_errors,

{deps, [
     {prolog_open_api, ".*", {git, "git@git.walk2web.com:eprolog/prolog_open_api.git", {branch,"master"} } },
     {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
     {cowboy, "0.8.2", {git, "git://github.com/extend/cowboy.git",  "0.8.2"}},
     {eprolog, ".*", {git, "git@git.walk2web.com:eprolog/eprolog.git", {branch, "process_zoo_avoid"}}},
     {erlsha2, ".*", {git, "git://github.com/vinoski/erlsha2.git", {branch, "master"} } },
     {erlydtl, ".*",  {git, "git@github.com:evanmiller/erlydtl.git",{branch,"master"} } },
     {lager, "2.0.0",    {git, "git://github.com/basho/lager.git",       {tag, "2.0.0"}}}

     

]}.

{cover_enabled, true}.

{clean_files, ["deps/*/ebin", "*.eunit", "ebin"]}.
{app_bin, ["ebin"]}.
{eunit_opts, [
                verbose,
                {report, {eunit_surefire, [{dir, "."}]}}
            ]
}.
