 {% include 'header.html' %}
       
        <div class="doc_content_box">
        <div class="span3 bs-docs-sidebar doc_menu_fixed">
            <ul class="nav nav-list bs-docs-sidenav" style="display: block;"> 
                <li>
                <a href="#make_expert" class="e_doc_title">
                <i class="icon-chevron-right"></i><b>Creating System</b></a>
                <ul class="doc_inst_list e_doc_list" style="display: none;">
                    <li><a href="#make_expert_security">Security and Embedding</a></li>
                    <li><a href="#make_expert_memory">Limitation Memory</a></li>
                    <li><a href="#make_expert_batch">Import data</a></li>
                    <li><a href="#make_expert_widget">JavaScript Widget</a></li>               
                </ul>
                </li>
            
                <li>
                <a href="#setup" class="e_doc_title">
                <i class="icon-chevron-right"></i><b>Quick Start </b></a>
                <ul class="doc_inst_list e_doc_list" >
                    <li><a href="#setup">Getting started</a></li>
                    <li><a href="#setup_adv">Advance console</a></li>
                </ul>
                </li>
          
                <li>
                <a href="#pro" class="e_doc_title"><i class="icon-chevron-right"></i><b>API Protocol</b></a>
                <ul class="doc_inst_list e_doc_list" style="display: none;">
                    <li><a href="#pro_auth">Authorization</a></li>
                    <li><a href="#pro_aim">Making Request</a></li>
                    <li><a href="#pro_check">Checking result</a></li>
                    <li><a href="#pro_check">Get next result</a></li>
                    <li><a href="#pro_check">Finish process</a></li>
                </ul>
                </li>
          
                
                <li>
                <a href="#man" class="e_doc_title"><i class="icon-chevron-right"></i><b>Managing</b></a>
                <ul class="doc_inst_list e_doc_list" style="display: none;">
                
                    <li><a href="#man_pub_api">Public API</a></li>
                    <li><a href="#man_pri_api">Private API</a></li>
                    <li><a href="#man_widget">JavaScript widget</a></li>
                    
                </ul>
                </li>
            
                
                <li>
                <a href="#stat" class="e_doc_title"><i class="icon-chevron-right"></i><b>Statistic</b></a>
                <ul class="doc_inst_list e_doc_list" style="display: none;">

                </ul>
                </li>
                 <li>
                <a href="#prolog" class="e_doc_title"><i class="icon-chevron-right"></i><b>Prolog Documentation</b></a>
                <ul class="doc_inst_list e_doc_list" style="display: none;">

                </ul>
                </li>    
                

                
            </ul>
        </div>    
           <section id="make_expert" class="doc_section">
               <h4>Creating System</h4> 
               Для создания своей Polog-системы вам будет достаточно акаунта Google или вы можете заполнить 
               нашу форму регистрации. После регистрации мы вам выделяни одну базу знаний для хранения ваших
               фактов и кода. Вы сразу же ее можете использовать через наше <a href="#pro">REST API</a>
               
               
               
               
            </section>
            
            <section id="make_expert_security" class="doc_section">
               <h4>Security and Embedding</h4>
               Если вы планируете использовать вашу пролог-систему посредством API или JavaScript
               Widget-a, вам нужно будет указать секретный и публичные ключи, которые будут использоваться при 
               взаимодействие через API или JavaScript Widget, более подробно смотрите в разделе <a href="#man">Managing</a>.
               
            </section>
            
            <section id="make_expert_memory" class="doc_section">
               <h4>Limitation</h4>     
               В стартовом пакете вам доступно 64 Мегабайта оперативной памяти в нашей облачной системе.
               Вы можете увеличить кол-во хранимых фактов и доступной памяти путем смены пакета. Сейчас
               в системе доступны три пакет : "Стартовый","Средний", "Промышленный"
               
               
            </section>
            <section id="make_expert_batch" class="doc_section">
               <h4>Import your knowledge</h4> 
               Вы можете импортировать ваши данные в систему двумя способами
               1) Написав соответствующий код на прологе, и взаимодействуя с ним посредством АПИ импортировать ваши данные
               2) Загрузить ваши данные  на сервер в соответствующеим csv, json формате 
               
               Второй способ будет гораздо быстрее.
               
            </section>
            <section id="make_expert_widget" class="doc_section">
               <h4>JavaScript widget on you site</h4>  
               Для средних проектов мы предлагаем создание Widget-а, для импорта на в интерфейсы поддерживающии 
               html&amp;javascript c доступом к сети.
               
            </section>
       
   
        <section id="setup" class="doc_section">
               <h4>Quick start</h4>
               <p>
                Самый простой способ ознакомления с системой - наша <a href="/index.html">web-консоль</a>.
                В этой консоли вы можете попробывать все команды Prolog-а, в том числе и добавлять в оперативную
                память собственные факты. По умолчанию все факты в системе динамичекие.
                </p>
<p>
                Вычисление арифметического выражения.
<pre>                
                ?- X is 6*6.
</pre>        
</p>
<p>
               Добавление нового факта.
<pre>                
                ?- assert(simple_fact(1)).
</pre>        
       </p>
 
        
        </section>
      
         <section id="setup_adv" class="doc_section">
               <h4>Advance console</h4>
                Мы разработали web-ide для работы с вашими проектами, которое позволяет 
                вам хранить ваш код-prologa, пробывать как он работает, создавать несколько проектов, 
                легко управлять кодом различных баз знаний.
        
        
        
        </section>
        

          <section id="pro" class="doc_section">
            <!--      <div class="hero-unit">-->
            <!--      <div class="row">-->
                    <h4>Protocol</h4>
                    <p>Our api let you work with your prolog code in our system from your application via REST-interface</p>

                    <p>For example you have this code in codeide.com:</p>

                    
            
            
<pre>        
parent("FirstHumen", pam).
parent(pam, bob).
parent(tom, bob).
parent(tom, liz).
parent(bob, ann).
parent(bob, pat).
parent(pat, jim).
predecessor(X, Y) :- parent(X, Y).
predecessor(X, Y) :-
                 parent(X, Z),
                 predecessor(Z, Y).
</pre>
            </section>
            
            <section id="pro_auth" class="doc_section">
         
                <h4>Authorization</h4>

                    <p>At first you need load your namspace “my_expert_system”, send http request</p>


                    <pre>http://codeide.com:8313/prolog/auth/my_expert_system</pre>
                    <p>
                    Permissions to your namespace is avalible only from ip that you have gave us before :
                    </p>

            </section>
            
           <section id="pro_aim" class="doc_section">
                        <h4>Making a request</h4>
                        <p>Now, in order to get result for prolog request like this: </p>

<pre>
?- predecessor(X, Y)
</pre>
                        You need  to send such http-request  : 
<pre>
curl -d "params=[{\"name\":\"X\"}, {\"name\":\"Y\"}]" http://codeide.com:8313/prolog/create/predecessor
curl -d "params=[{\"name\":\"X\"}, {\"atom\":\"bob\"}]" http://codeide.com:8313/prolog/create/predecessor
curl -d "params=[\"FirstHumen\", {\"name\":\"Y\"}]" http://codeide.com:8313/prolog/create/predecessor

</pre>
                        <p> POST "params" contain json array of arguments for aim "predecessor",</p>

                        <p> If you want use unbound variables X or Y </p>

                        <p> you must set it like  a json  object {"name":"X"}, where X is name of variable, which you want use in prolog  </p>

                        <p> for atoms use object like this {"atom":"bob"} </p>

                        <p> in other cases lists, strings and numbers use constants </p>

                        <p> If everything is good, you will receive response json  <p>
<pre>
{"status":"ok","session":"12esf32453"} 
or
{"status":"fail","description":"some description of mistake"} 
</pre>
            </section>            
             <section id="pro_check" class="doc_section">    
                    <h4>Checking a result</h4>
                    <p>Our kernel start process  your request  </p>

                    <p>For working with thise process you have three commands</p>


<pre>
curl     http://codeide.com:8313/prolog/process/12esf32453 # for checking results
curl     http://codeide.com:8313/prolog/next/12esf32453 # for find next solution of prolog work
curl     http://codeide.com:8313/prolog/finish/12esf32453 # for finish process of working
</pre>
                    <p>First request will return to you json with bounded variables of your request</p>

<pre>
{"status":true, result:[ {"X": {"atom": "pat" }} , {"Y": {"atom":"jim"}} ] } # for first example 
{"status":true, result:[ {"X": {"atom": "tom" } }] } # for second example
{"status":true, result:[{"Y": {"atom": "pam" }   }] } # for third example
</pre>
                    <p>
                    If aim was not reached any solution the response will be :
                    </p>


<pre>
{"status":false, result:[ ] }
</pre>
                    <p> After you are able  ask Prolog to find another solution by sending</p>

<pre>
curl     http://codeide.com:8313/prolog/next/12esf32453 
</pre>
                    <p>or you can finish work</p>

<pre>
curl     http://codeide.com:8313/prolog/finish/12esf32453 
</pre>
                    <p>Session is created per each reqest and it will be deleted after finishing request  </p>

                    <p>As you noticed, all work  is asynchronous</p>

                    <p>You do not need load namespace after each aim request, you can do it only once</p>

            </section>
          <section id="man" class="doc_section">
         
                <h4>Managing a system</h4>

                    <p>We have a builtin tool for managing your database of knowledge - vizualization,learning, exporting data </p>
                

                   
          </section>
            <section id="man_pub_api" class="doc_section">
         
                <h4>Public API</h4>

                    <p>По умолчанию ваша пролог-система в Public доступе, у нас есть набор установок для управления.</p>
                

                   
          </section>
            <section id="man_pri_api" class="doc_section">
         
                <h4>Private API</h4>

                    <p>Вы можете сделать вашу пролог систему приватной установив <br/>
                    1) Установив набор ключей авторизации<br/>
                    2) Ограничив набор Ip-адресов с которых возможно пользование вашей системой
                    
                    </p>
                

                   
          </section>
            <section id="man_widget" class="doc_section">
         
                <h4>JavaScript Widget</h4>

                    <p> Для JavaScript Widget для сайтов и систем на основе Web интерфейса
                    возможна установить http-callBack вызовов, таким образом вы можете сделать доступным 
                    widget только для авторизированых пользователей.
                    
                    
                    </p>
                

                   
          </section>
          
        
            
          <section id="stat" class="doc_section">
         
                <h4>Statistic</h4>

                    <p>Also we are offering a vizualization tool for making various statistical reports</p>


                   
            </section>
             <section id="prolog" class="doc_section">
         
                <h4>Prolog Documentation</h4>

                    <p>
                    <p class="c3"><span class="c2">:-</span></p>

<p class="c6 c3"><span>Для объявления предиката используется следующий синтаксис. </span></p>

<pre><span>fact(X, Y):- X =Y.  </span></pre>

<p class="c6 c3"><span>Где fact -название предиката, а в скобках список аргументов. Факт это предикат без тела, можно считать предикат с телом из одной цели true.</span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c3"><span class="c2">,</span></p>
<p class="c3"><span class="c2">;</span></p>
<p class="c3"><span>        Для составления сложных правил, используется предикат конъюнкции “,” и дизъюнкции “;”.</span></p>
<pre><span>fact(X, Y, Z):- X =:= 1, Y =:= 2, Z &lt; Y +X.  </span></pre>
<p class="c3 c5 c6"><span>в данном примере поочередно будут проверяться все цели, и запрос будет удачным, только если все цели будут успешно достигнуты.</span></p>
<p class="c0 c6 c5"><span></span></p>
<pre><span>fact</span><span>(X, Y, Z):- X =:=1, Y =:=2; Z &lt;10. </span></pre>
<p class="c3 c5"><span>а в этом случае запрос будет успешным либо в случае, если X будет равным 1 и </span></p>
<p class="c3 c5"><span>Y равным 2 или только Z будет меньшим 10. </span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c3"><span class="c2">. - </span><span>точка служит для обозначения конца предиката или правила. Каждое объявление предиката или факта заканчивается точкой </span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">true - </span><span>оператор всегда возвращает всегда true</span></p>
<p class="c3"><span class="c2">false - </span><span>оператор возвращает всегда false</span></p>
<p class="c3"><span class="c2">! -  </span><span>отсечение решений, после этого оператора пролог не рассматривает возможные решения которые могут быть до него.</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">[] - </span><span> список. </span></p>
<p class="c3"><span>    Список в прологе представляется в виде головы и хвоста.</span><span class="c2"> [Head | Tail] = List</span><span>, в данном выражение мы получим первый элемент списка List в переменную Head, и список всех оставшихся элементов в переменной Tail, в случае если List не список, то выражение вернет false. Так же возможны следующие варианты этого выражения</span></p>
<p class="c3"><span class="c2">[Head1,Head2, Head3| Tail] = List</span><span>, в этом случае в переменных </span><span class="c2">Head1, Head2, Head3 </span><span>будут первые три элемента списка </span><span class="c2">List</span><span>, если </span><span class="c2">List</span><span> содержит меньшее количество элементов, то выражение вернет false. Так же пролог поддерживает вложенные списки.</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">is - </span><span>вычисление арифметического выражения, не стоит путать с сопоставлением</span></p>
<p class="c6 c3"><span>X is 6 +7, запишит в X 13.</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">+  </span><span>арифметическая операция сложения</span></p>
<p class="c3"><span class="c2">*  </span><span>арифметическая операция умножения</span></p>
<p class="c3"><span class="c2">/  </span><span>арифметическая операция деления</span></p>
<p class="c3"><span class="c2">-   </span><span>арифметическая операция вычитания</span></p>
<p class="c3"><span class="c2">mod - </span><span>остаток от деления</span></p>
<p class="c3"><span>Вне контекста оператора is, данные операторы могут быть использованы как структуры.</span></p>
<p class="c3"><span class="c2">&lt;,&gt;,&gt;=,=&lt;, =:=, =\=  - </span><span>операторы  арифметического сравнения</span></p>
<p class="c3"><span>*Внимание, так как все данные хранятся в строках, то данная реализация пролога в арифметических выражениях будет строку пытаться преобразовать в число, если строка содержит  числовое значение.</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">assert(X) - </span><span>добавления фактов  и правил</span></p>
<p class="c3"><span class="c2">asserta(X)</span></p>
<p class="c3"><span class="c2">assertz(X) </span><span>добавления фактов  и правил в начало списка</span></p>
<p class="c3"><span class="c2">retract(X)</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span>чтобы добавить правило нужно заключить его в дополнительные скобки, пример </span></p>
<p class="c3"><span>assertz( ( max(X,Y,Res) :- X&gt;Y,!,Res is X; Res is Y ) ).</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">retract</span><span> удаляет факты  и правила</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">abolish (X) - </span><span>удаляет все факты и правила соответствующие терму X, где X - терм вида </span></p>
<p class="c3"><span>name/5, name - наименования функтора, 5 арность - всегда возвращает true.</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">call(X) - </span><span>вызывает</span><span class="c2">  </span><span>правило</span><span class="c2">  </span><span>в X</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">not(X) -</span><span> возвращает true, если аргумент или выражение в скобках возвращает false. - не стандарт !!!</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span>Системные функции </span></p>
<p class="c3"><span class="c2">date</span><span>(DateString, year|month|day|hour|minute, Accum) - получить из строки DateString, </span></p>
<p class="c3"><span>год, месяц, день, час, минуты и записать в Accum, необходимо для работы со временем.</span></p>
<p class="c3"><span>DateString</span><span class="c2"> </span><span>вида</span><span class="c2"> &quot;Jul 17 2012 08:56&quot;. </span></p>
<p class="c3"><span>Предикат вида</span><span class="c2"> </span><span>date(&quot;Jul 17 2012 08:56&quot;,hour,8)</span><span class="c2"> </span><span>будет проверяться на правильность.</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span>Предикаты добавления связей</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">assertz</span><span>(SourceFact, ForeignFact,  Body ) - добавления связи между фактом SourceFact и фактом ForeignFact в виде правила Body. </span></p>
<p class="c3"><span>Где SourceFact, ForeignFact  - атомы наименования фактов.</span></p>
<p class="c3"><span>Body - либо atom наименования правила, которое уже существует в системе, либо объявление правила, заключенного в круглые скобки. Связь обозначает,  что при добавление посредством предиката assert факта SourceFact, будет вызвано правило Body. Подрозумевается что правило Body связывает факты SourceFact и ForeignFact.</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span>Сейчас не могут существовать факты с одинаковым именем и разной арностью в виртуальной памяти.</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span>Сейчас говорит no если просиходит таймаут апи HBAse … т.е. как-будто бы не существует факта, хотя он может существовать. (нужно сделать чтобы выводило другое сообщение)</span></p>
<p class="c0"><span class="c2"></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">meta</span><span>(fact_name, param, X) - предикат выводит информацию о весе факта </span><span class="c2">fact_name</span><span> или правила, количестве фактов данного типа в системе, кол-во запросов к этому факту(не реализовано), param - наименование интересующего параметра, может быть</span></p>
<p class="c3"><span>count - кол-во фактов в системе</span></p>
<p class="c3"><span>requests - кол-во запросов к факту</span></p>
<p class="c3"><span>weight - вес этого факта в системе, </span></p>
<p class="c3"><span>X - переменная в которую будет записано значение параметра системы, если переменная конкретизирована, то значение будет проверено согласно обычной логике</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">localtime( </span><span>In</span><span class="c2"> ) - </span><span>унифицирует  в In текущую дату в формате </span><span class="c2">&quot;Jul 17 2012 08:56&quot;</span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">date_diff( </span><span>FirstDate, SecondDate,  Type, Acum</span><span class="c2">) - </span><span>вычисляет разницу во времени между датами которые содержут термы </span><span class="c2">FirstDate</span><span>, </span><span class="c2">SecondDate</span><span>, должны быть строками вида </span></p>
<p class="c3"><span class="c2">&quot;Jul 17 2012 08:56&quot;, Type - hour|second|day|minute </span><span>атом указывает в каких единицах возвращать разницу во времени, Acum - пеменная которая будет унифицирована </span></p>
<p class="c3"><span>вычисленным значением. Предикат может генерировать исключительные ситуации </span></p>
<p class="c3"><span class="c2">invalid_format_date</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">create_namespace</span><span>(“namespace_name”) - создает пространство имен в виртуальной памяти  с названием “</span><span class="c2">namespace_name</span><span>” , если такое пространство существует выдает false </span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c2">use_namespace</span><span>(“namespace_name”) - меняет текущее  пространство имен виртуальной памяти   на “</span><span class="c2">namespace_name</span><span>” , если такое пространство не существует выдает false( не реализовано)</span></p>
<p class="c0"><span></span></p>
<p class="c0"><span></span></p>
<p class="c3"><span class="c1">проверка типа терма</span></p>
<p class="c3"><span class="c1">var(X) -переменная</span></p>
<p class="c3"><span class="c1">nonvar(X) - не переменная</span></p>
<p class="c3"><span class="c1">atom(X) - атом</span></p>
<p class="c3"><span class="c1">atomic(X) - </span></p>
<p class="c3"><span class="c1">integer(X) - число</span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c3"><span class="c1">преобразования термов типа терма</span></p>
<p class="c3"><span class="c1">to_float(X, Y) - унифицирует терм Y - дробным представлением терма X</span></p>
<p class="c3"><span class="c1">to_integer(X, Y) - унифицирует терм Y - целочисленным представлением терма X</span></p>
<p class="c3"><span class="c1">to_list(X, Y) - унифицирует терм Y - строковым представлением терма X</span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c3"><span class="c1">write(X) -  предикат  вывода на экран, или на web-консоль</span></p>
<p class="c3"><span class="c1">nl, предикат перевода строки</span></p>
<p class="c3"><span class="c1">writeln(X) - предикат вывода на экран или web-консоль с переводом строки</span></p>
<p class="c3"><span class="c1">read(X) - чтение терма  с консоли или web - консоли</span></p>
<p class="c3"><span class="c1">get_char(X) - чтение одного символа с консоли или web-консоли</span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c3"><span class="c1 c2">Внимание!!!</span><span class="c1"> пролог не поддерживает атомы, факты и правил на киррилицы, но  web-консоль поддерживает вывод и ввод киррилицы через операторы write и read.</span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span class="c1"></span></p>
<p class="c0"><span></span></p>

                    </p>


                   
            </section>
            
        </div>


</div>
 

   
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 


{% include 'footer.html' %}
